:root.theme-dark {
  --bg-color: #000028;
  --text-accent: #ff0070;
  --text-accent-rgb: 255, 0, 112;
  --text: #f1b2ce;
  --focus: #db00ff;
  --font: "IBM Plex mono", monospace;
  --font-size: 18px;
  --cover-image: url("../images/cover-image-dark.png");
  --button-hover-opacity: 0.5;
  --show-rec: flex;
  --section-title: var(--bg-color);
  --corners-menu-color: var(--text-accent);
  --menu-hover-color: rgba(var(--text-accent-rgb), 0.5);
  --decor-text-color: var(--bg-color);
}
