:root.theme-light {
  --bg-color: #fff1f7;
  --text-accent: #ff8dcb;
  --text-rgb: 53, 52, 48;
  --text: #353430;
  --focus: #ffc2e6;
  --font: "IBM Plex mono", monospace;
  --font-size: 18px;
  --cover-image: url("../images/cover-image-light.png");
  --button-hover-opacity: 0.5;
  --show-rec: none;
  --section-title: var(--text);
  --corners-menu-color: var(--text);
  --menu-hover-color: rgba(var(--text-rgb), 0.5);
  --decor-text-color: var(--text);
}
