@import url("./header.css");
@import url("./why.css");
@import url("./lowering.css");
@import url("./concentration.css");
@import url("./pictures.css");
@import url("./footer.css");

.page {
  font-size: var(--font-size);
  font-family: var(--font);
  color: var(--text);
  background-image: var(--cover-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

.title-decor {
  background-color: var(--text-accent);
  color: var(--decor-text-color);
}

.article-section {
  margin-block-end: 20px;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--text-accent);
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  text-decoration: none;
  outline: none;
  border: 1px solid var(--text);
}

.decorated-zone::after {
  content: "";
  width: 25px;
  height: 25px;
  top: 20px;
  position: absolute;
  right: 20px;
  border-right: 1px solid var(--corners-menu-color);
  border-top: 1px solid var(--corners-menu-color);
}

.decorated-zone::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  left: 20px;
  bottom: 25px;
  border-left: 1px solid var(--corners-menu-color);
  border-bottom: 1px solid var(--corners-menu-color);
}

.section-title,
.section-subtitle {
  font-size: 18px;
  margin: 0;
}

.section-subtitle {
  margin-block-end: 10px;
}

main {
  line-height: 23.4px;
}
