:root {
  --bg-color: #fff1f7;
  --text-accent: #ff8dcb;
  --text-rgb: 53, 52, 48;
  --text: #353430;
  --focus: #ffc2e6;
  --font: "IBM Plex mono", monospace;
  --font-size: 18px;
  --cover-image: url("../images/cover-image-light.png");
  --header-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --section-title: var(--text);
  --show-rec: none;
  --corners-menu-color: var(--text);
  --menu-hover-color: rgba(var(--text-rgb), 0.5);
  --decor-text-color: var(--text);
}

@media (prefers-color-scheme: dark) {
  :root.theme-auto {
    --bg-color: #000028;
    --text-accent: #ff0070;
    --text-accent-rgb: 255, 0, 112;
    --text: #f1b2ce;
    --focus: #db00ff;
    --cover-image: url("../images/cover-image-dark.png");
    --section-title: var(--bg-color);
    --show-rec: flex;
    --corners-menu-color: var(--text-accent);
    --menu-hover-color: rgba(var(--text-accent-rgb), 0.5);
    --decor-text-color: var(--bg-color);
  }
}
